
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="main">
    <!-- MAIN CONTENT -->
    <div class="main-content">
        <div class="container-fluid">
            <div class="panel panel-headline">
                <div class="panel-heading">
                    <h3 class="panel-title">Enter Product</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-inline">

                            <div class="form-group">
                                <label>Produt Name</label>
                                <input class="form-control" type="text" />
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
            </div>
            <!-- END MAIN CONTENT -->
</div>



